<div class="title">
  <h1>Ver mascota</h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-title>Peluso</mat-card-title>
    <mat-card-content>
      <p><strong>Raza:</strong> Pomerania</p>
      <p><strong>Color:</strong> Marrón</p>
      <p><strong>Peso:</strong> 4 Kg</p>
      <p><strong>Edad:</strong> 2 Años</p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/listaMascota" mat-raised-button>Volver</button>
    </mat-card-actions>
</mat-card>
</div>
